<?xml version="1.0"?>
<config>
  <db>
    <!--数据库类型：1表示Oracle；2表示SqlServer-->
    <db_type>1</db_type>
    <!--服务器地址-->
    <db_ip>127.0.0.1</db_ip>
    <!--数据库名称-->
    <db_name>rUVrOtSfsTs=</db_name>
    <!--数据库用户名-->
    <db_uid>hQtHNkdpt78=</db_uid>
    <!--数据库密码-->
    <db_pwd>hQtHNkdpt78=</db_pwd>
    <!--8位key-->
    <db_key>lqpvcmes</db_key>
  </db>

  <app>
    <!--文件下载目录-->
    <app_download>download</app_download>
    <!--应用程序名称-->
    <app_name>Eap简易框架</app_name>
    <!--命名空间-->
    <app_namespace>Eap.Entity</app_namespace>
  </app>

  <log>
    <!--日志文件目录-->
    <log_dir>log</log_dir>
  </log>
</config>